.btn {
  border: none;
  padding: 8px;
  border-radius: $radius;
  transition: all 0.2s;
  font-weight: 500;
  cursor: pointer;

  &--1 {
    background: $color-secondary;
    color: $color-primary;

    &:hover {
      color: $color-tertiary;
      transform: scale(1.1);
    }
  }

  &--2 {
    background: $color-primary;
    color: $color-tertiary;
    &:hover {
      background: $color-secondary;
    }
  }
}
