.events {
  padding-top: 20px;
  gap: 20px;
  width: $vw;
  margin: auto;

  &__container {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .event {
    border: 1px solid $color-primary;
    border-radius: $radius;
    align-self: normal;
    justify-content: space-between;

    &__container {
      &:first-of-type {
        height: 30%;
        img {
          width: 100%;
          flex: 1;
        }
      }

      &:nth-of-type(2) {
        padding: 15px;
      }

      &:not(:first-of-type):not(:nth-of-type(2)):not(:last-of-type) {
        padding: 0 15px 15px;
      }

      &:last-of-type {
        padding: 0 15px 15px;
      }
    }
  }
}
